* {
    padding: 0;
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(200, 200 , 200);
}

#mineSweeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;
    height: 100vh;
}

.uiContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.timerDiv , .minesDiv {
    border: black 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
}

.difficultyOptionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.difficultyOption {
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.difficultyOptionSelected {
    border: 3px solid lightgoldenrodyellow;
    color: yellow;
}

#mineSweeperTable {
    display: grid;
    justify-content: center;
    gap: 1px;
    align-items: center;
    align-content: center;
}

.score {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: black;
    top: 10px;
    left: 10px;
    color: white;
}

.oneSquare {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 5px;
}

.backDrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .4;
    z-index: 2;
}
.gameOverContainer , .winContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: self-start;
}
.gameOver, .win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 3;
}
.gameOverText, .winText {
    color: white;
    font-size: 100px;
    cursor: default;
    margin-top: 100px;
}

.playAgainButton {
    padding: 5px 10px;

}

/* menu section */
.menuContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.welcomeText {
    font-size: 100px;
}

.playButton {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}
.playButton:hover {
    background-color: rgb(50 , 250 , 50);
}
.playButton:active {
    background-color: rgb(50, 150, 50);
}